.card {
  margin: 0 auto;
  padding: 1.6rem;
  border: 1px solid #ccc;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
  text-align: left;
  min-width: 500px;
}

@media screen and (max-width: 600px) {
  .card {
    min-width: auto;
  }
}

.imagepreview {
  max-width: 200px;
  min-height: 200px;
  min-width: 200px;
  border: 1px solid #ccc;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  display: flex;
}

.imagepreview__description {
  margin: 1rem 0;
  font-style: italic;
  display: block;
  max-width: 200px;
  text-align: center;
  overflow-wrap: anywhere;
}

.imagepreview__image {
  max-width: 200px;
}

.review {
  margin-left: 1.6rem;
  flex: 1 1;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.review > p {
  margin: 0;
}
.review > h1,
.review > p {
  overflow-wrap: anywhere;
}

.review__stars {
  font-family: "ITC Lubalin Graph Std", "Mulish", Lubalin Medium, Century Gothic,
    Arial, sans-serif;
  font-size: 5rem;
  color: #003b9e;
  flex-direction: row;
  height: 2.8rem;
  margin: 1.6rem 0;
}

.review__row {
  flex-direction: row;
}
