.rating {
  margin: 1.6rem 0;
  display: flex;
  flex-direction: column;
}

.rating__stars {
  margin: 0;
  padding: 0;
  display: inline-block;
  position: relative;
  height: 42px;
  line-height: 42px;
  font-size: 42px;
  border: 0;
}

.rating__label-text {
  text-align: left;
  font-size: 2rem;
  margin-bottom: 1.2rem;
  font-family: "ITC Lubalin Graph Std", "Mulish", Lubalin Medium, Century Gothic,
    Arial, sans-serif;
  color: #717c7d;
}

.rating__stars label {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  cursor: pointer;
  font-size: 3rem;
}

.rating__stars label:last-child {
  position: static;
}

.rating__stars label:nth-child(1) {
  z-index: 5;
}

.rating__stars label:nth-child(2) {
  z-index: 4;
}

.rating__stars label:nth-child(3) {
  z-index: 3;
}

.rating__stars label:nth-child(4) {
  z-index: 2;
}

.rating__stars label:nth-child(5) {
  z-index: 1;
}

.rating__stars label input {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}

.rating__stars label .icon {
  float: left;
  color: transparent;
}

.rating__stars label:last-child .icon {
  color: rgb(228, 228, 228);
}

.rating__stars:not(:hover) label input:checked ~ .icon,
.rating__stars:hover label:hover input ~ .icon {
  color: #003b9e;
}

.rating__stars label input:focus:not(:checked) ~ .icon:last-child {
  color: rgb(228, 228, 228);
  text-shadow: 0 0 5px #003b9e;
}
